**/target/**/*
.idea
.mvn/wrapper/*.jar
modules/*/.openapi-generator/**/*
**/*.log
modules/models/src/main/java/**/*
modules/api/src/main/resources/webroot/*
!modules/api/src/main/resources/webroot/.gitkeep
.odo/env
.odo/odo-file-index.json